---
import selfPortrait from "../assets/meb&w.jpg";
---

<div class="container">
    <div class="wrapper">
        <div class="image-wrapper hidden">
            <img class="portfolio-image hidden" src={selfPortrait} />
        </div>
        <div class="design hidden"></div>
    </div>
    <div class="about-me-wrapper">
        <h2 class="intro hidden">
            I am <span>Joshua Maciel</span>. I live in Tampa, FL where I was
            born and raised.
        </h2>
        <p class="about-me hidden">
            I've always enjoyed working with computers since I was young as my
            father introduced me to them since he always worked on them. I
            remember thinking back to when I used to have two computers in my
            room. One with Windows 95 and the other with Windows 3.1. I loved
            using both even though most of the time was to play Solitare.
        </p>
        <p class="about-me hidden">
            Today, I still enjoy working with computers, just now I love
            creating websites for fun learning new technologies and using what I
            already know. I am currently working as Full Stack Developer using
            React for the Front End and Java for the Back End both of which I
            enjoy but I do prefer the Front End of things and very much enjoy
            playing with CSS. If you are interested in working with me you can
            reach me on social media or through my contact form on the home
            page. If you would like to look at my resume, click <a
                href="https://drive.google.com/file/d/1BLvF0kwAgcoYNtBqOdjOYGRwC0yFqYUM/view?usp=sharing"
                target="_blank"
                aria-label="Go To Joshua Maciel's Resume">here</a
            >.
        </p>
    </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        position: relative;
        margin-right: 1rem;
    }

    .image-wrapper {
        height: 20rem;
        width: 20rem;
        margin: 0 auto;
        border-radius: 3rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        transform: rotate(-5deg);
    }

    .portfolio-image {
        margin: -1.4rem auto;
        height: 30rem;
        width: auto;
    }

    .about-me-wrapper {
        padding: 0 3.5rem 0 0;
        width: 60%;
    }

    .intro {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    .about-me {
        font-size: 1.1rem;
        padding-bottom: 1rem;
        transition-delay: 300ms;
    }

    span {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100%;
        background-position: 0%;
    }

    a {
        text-decoration: none;
    }

    a:visited {
        color: #0b0d23;
    }

    .design {
        display: block;
        position: absolute;
        bottom: 10%;
        right: -4ch;
        width: 20rem;
        height: 10.5rem;
        z-index: -1;
        transition-delay: 800ms;
        background-color: #22686c;
        background-size: 15px 15px, 15px 15px;
        background-position: -1px -1px, -1px -1px;
        background-image: linear-gradient(
                rgba(4, 5, 27, 1) 11px,
                transparent 11px
            ),
            linear-gradient(90deg, rgba(4, 5, 27, 1) 11px, transparent 11px);
    }

    @media (max-width: 600px) {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            padding-bottom: 2.5rem;
        }
        .design {
            display: block;
            position: absolute;
            bottom: 0;
            right: 5ch;
            height: 300px;
            width: 200px;
            z-index: -1;
            background-color: #22686c;
            background-size: 10px 10px 10px 10px;
            background-position: -5px -5px -5px -5px;
            background-image: linear-gradient(
                    rgba(4, 5, 27, 1) 10px,
                    transparent 10px
                ),
                linear-gradient(90deg, rgba(4, 5, 27, 1) 10px, transparent 10px);
        }
        .about-me-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;
            width: 95%;
            padding: 1rem;
        }
        .intro {
            font-size: 2.3rem;
            font-weight: bold;
            padding-bottom: 1rem;
        }

        .about-me {
            font-size: 1.2rem;
            padding-bottom: 1rem;
        }
        .image-wrapper {
            transform: rotate(0deg);
        }
    }
    a {
        color: #448a8e;
        text-decoration: none;
    }
    a:visited {
        color: #448a8e;
    }
</style>
