---
import VideoCard from "../components/VideoCard.tsx";
---

<div class="container">
    <h2>Things That Interest Me</h2>
    <VideoCard
        title="Color-fill Animation"
        src="../assets/csscolorfill.jpg"
        body="Kevin Powell creates a cool color-fill animation using masks created in Photoshop."
        href="https://www.youtube.com/embed/dldpud1PuL8?autoplay=1"
        id="5SXsDox.jpg"
        client:idle
    />
    <VideoCard
        title="Vim in 2 Minutes"
        src="../assets/vim2mins.jpg"
        body="The Primeagen makes a quick and to the point Vim keybind walkthrough with a link to a diagram in the video description."
        href="https://www.youtube.com/embed/E_8B_seg8AI?autoplay=1"
        id="Wpz6Ysl.jpg"
        client:idle
    />
    <VideoCard
        title="Leptos a Rust Full Stack WASM Framework"
        src="../assets/leptostest.jpg"
        body="The Primeagen going over a new Rust framework that uses WASM and compares client-side rendering performance against React. Which is faster? Watch to find out!"
        href="https://www.youtube.com/embed/7ap3CkBEpOE?autoplay=1"
        id="UFQPamf.jpg"
        client:idle
    />
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        width: min(85%, 660px);
        margin: 1rem auto 3rem auto;
        padding: 0;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
</style>
