---
import Windows from "../components/Windows.astro";
import PalmTree from "../assets/palmtree.png";
---

<div class="vaporwave">
    <div class="overlay top"></div>
    <div class="overlay bottom"></div>
    <div class="overlay glitch"></div>
    <div class="ground bottom"></div>
    <div class="sun"></div>
    <div class="building left">
        <Windows />
    </div>
    <div class="building middle">
        <Windows />
    </div>
    <div class="building right">
        <Windows />
    </div>
    <img src={PalmTree} class="tree" alt="Palm Tree" />
    <img src={PalmTree} class="tree two" alt="Palm Tree" />
</div>

<style>
    /* <div class="building-wrapper left"> */
    /*     <div class="test"> */
    /*         <Windows /> */
    /*     </div> */
    /*     <div class="test side"> */
    /*         <Windows /> */
    /*     </div> */
    /* </div> */
    /* <div class="building-wrapper middle"> */
    /*     <div class="test"> */
    /*         <Windows /> */
    /*     </div> */
    /*     <div class="test side"> */
    /*         <Windows /> */
    /*     </div> */
    /* </div> */
    /* <div class="building-wrapper right"> */
    /*     <div class="test-right"> */
    /*         <Windows /> */
    /*     </div> */
    /*     <div class="test side-right"> */
    /*         <Windows /> */
    /*     </div> */
    /* </div> */
    .vaporwave {
        display: flex;
        /* background-color: #111; */
        position: fixed;
        /* display: hidden; */
    }
    .building-wrapper {
        position: absolute;
        height: fit-content;
        width: fit-content;
        display: flex;
        justify-content: center;
    }

    .test {
        height: 300px;
        width: 150px;
        background-image: linear-gradient(45deg, #010429, #170133, #350138);
        background-size: 100%;
        /* background-color: pink; */
        /* animation: bg-animation 10s infinite alternate; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
        transform: perspective(200px) scale(1.55);
    }
    .test-right {
        height: 300px;
        width: 150px;
        background-image: linear-gradient(45deg, #010429, #170133, #350138);
        background-size: 100%;
        /* background-color: pink; */
        /* animation: bg-animation 10s infinite alternate; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
        transform: perspective(200px) scale(1.5) translateX(12%);
    }
    .side {
        transform: perspective(200px) rotateY(73deg);
    }

    .side-right {
        transform: perspective(200px) rotateY(85deg);
    }

    .building {
        position: absolute;
        height: 300px;
        width: 150px;
        background-image: linear-gradient(45deg, #010429, #170133, #350138);
        background-size: 100%;
        /* animation: bg-animation 10s infinite alternate; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }

    .left {
        left: calc(50vw - 950px);
        top: 50vh;
        z-index: 3;
    }

    .middle {
        left: calc(50vw - 850px);
        top: 52vh;
        z-index: 2;
    }

    .right {
        left: calc(50vw - 725px);
        top: 48vh;
        z-index: 3;
    }

    .ground {
        position: absolute;
        height: 30vh;
        width: 100vw;
        top: 70vh;
        z-index: 4;
        background-image: linear-gradient(0deg, #010429, #170133, #350138);
        background-size: 100%;
        /* animation: bg-animation 30s infinite alternate; */
    }

    .sun {
        position: relative;
        height: 80vh;
        width: 80vh;
        top: 5vh;
        left: calc(50vw + 250px);
        border-radius: 80vh;
        z-index: -1;
        background-image: linear-gradient(
            0deg,
            #00464a 10%,
            #94167f 35%,
            #e93479,
            #f9ac53 60%
        );
        background-size: 200%;
        /* animation: glow-animation 3s ease infinite alternate; */
        box-shadow: 0 0 90px 5px rgba(249, 172, 83, 0.7);
        /* bg-animation-top 15s infinite alternate, */
        /* overflow: hidden; */
    }

    /* .sun::after { */
    /*     content: ""; */

    /*     display: block; */
    /*     position: absolute; */
    /*     bottom: 0; */

    /*     width: 100%; */
    /*     height: 50%; */
    /*     background-color: #2b1165; */
    /*     background: linear-gradient( */
    /*         0deg, */
    /*         #170133 0%, */
    /*         rgba(0, 70, 74, 1) 30%, */
    /*         rgba(23, 1, 51, 1), */
    /*         #00464a 100% */
    /*     ); */
    /*     background-size: 80vh 80vh; */
    /*     background-position: bottom center; */
    /*     clip-path: polygon( */
    /*         0 1%, */
    /*         100% 1%, */
    /*         100% 2%, */
    /*         0 2%, */
    /*         0 3%, */
    /*         100% 3%, */
    /*         100% 4%, */
    /*         0 4%, */
    /*         0 5%, */
    /*         100% 5%, */
    /*         100% 7%, */
    /*         0 7%, */
    /*         0 9%, */
    /*         100% 9%, */
    /*         100% 11%, */
    /*         0 11%, */
    /*         0 14%, */
    /*         100% 14%, */
    /*         100% 17%, */
    /*         0 17%, */
    /*         0 20%, */
    /*         100% 20%, */
    /*         100% 24%, */
    /*         0 24%, */
    /*         0 28%, */
    /*         100% 28%, */
    /*         100% 37%, */
    /*         0 37%, */
    /*         0 41%, */
    /*         100% 41%, */
    /*         100% 52%, */
    /*         0 52%, */
    /*         0 58%, */
    /*         100% 58%, */
    /*         100% 67%, */
    /*         0 67%, */
    /*         0 76%, */
    /*         100% 76%, */
    /*         100% 81%, */
    /*         0 81%, */
    /*         0 87%, */
    /*         100% 87%, */
    /*         100% 94%, */
    /*         0 94% */
    /*     ); */
    /* } */

    .tree {
        height: 20vh;
        width: auto;
        position: absolute;
        z-index: 4;
        top: 60vh;
        left: calc(50vw + 750px);
        /* transform: scale(2); */
    }

    .two {
        left: calc(50vw + 550px);
        top: 63vh;
        /* transform: scaleX(-1) scale(2); */
        transform: scaleX(-1);
    }

    .overlay {
        display: block;
        position: absolute;
        width: 100vw;
        z-index: 5;
        background-color: transparent;
        background-size: 20px 20px, 20px 20px;
        background-position: -1px -1px, -1px -1px;
        background-image: linear-gradient(
                rgba(255, 255, 255, 0.05) 1px,
                transparent 1px
            ),
            linear-gradient(
                90deg,
                rgba(255, 255, 255, 0.05) 1px,
                transparent 1px
            );
        mix-blend-mode: difference;
    }

    .top {
        /* top: 0; */
        /* left: 0; */
        /* height: 70vh; */
    }

    .bottom {
        top: 70vh;
        left: 0;
        height: 30vh;
        transform: perspective(200px) rotateX(70deg);
        transform-origin: top;
    }

    /* .glitch { */
    /*     clip-path: polygon(0 0, 200% 0, 100% 0.5em, 0 0.5em); */
    /*     /* animation: glitch 10s linear infinite; */
    /*     /* transform: translatex(0.1rem); */
    /* } */

    /* @keyframes glitch { */
    /*     to { */
    /*         clip-path: polygon( */
    /*             0 calc(100% - 0.5em), */
    /*             100% calc(100% - 0.5em), */
    /*             0 100%, */
    /*             0 100% */
    /*         ); */
    /*     } */
    /* } */

    @keyframes glow-animation {
        0% {
            box-shadow: 0 0 90px 60px rgba(53, 1, 56, 0.7);
        }
        100% {
            box-shadow: 0 0 30px 25px rgba(53, 1, 56, 0.5);
        }
    }

    @keyframes bg-animation {
        0% {
            background-position: left;
        }
        100% {
            background-position: right;
        }
    }

    @keyframes bg-animation-top {
        0% {
            background-position: top;
        }
        100% {
            background-position: bottom;
        }
    }

    @media (max-width: 1100px) {
        .vaporwave {
            display: none;
        }
    }
</style>
