---
import Icon from "astro-icon";
---

<div class="container hidden hidden-zoom">
    <div class="contact-title">
        <Icon name="carbon:email" />
        <h3>Contact Me</h3>
    </div>
    <p>
        Write me a message but be sure to check out the portfolio first! If you
        have a question I'll get back to you as soon as I can!
    </p>
    <form
        class="contact-me"
        action="https://formspree.io/f/xwkjpven"
        method="post"
        onsubmit="this.submit(); this.reset(); return false;"
    >
        <input
            class="your-name"
            name="name"
            type="text"
            placeholder="Your Name"
            required
        />
        <input
            class="your-email"
            name="email"
            type="text"
            placeholder="Your Email"
            required
        />
        <textarea
            required
            class="your-message"
            name="message"
            placeholder="Your Message"></textarea>
        <input type="submit" class="send" value="Send" />
    </form>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 2rem;
        width: 60%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        overflow-x: hidden;
    }

    @media (max-width: 600px) {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding: 2rem;
            width: 85%;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            overflow-x: hidden;
        }
    }

    .contact-title {
        display: flex;
        width: 100%;
    }

    h3 {
    }

    p {
        padding: 0.5rem 1rem;
    }

    .contact-me {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .your-name,
    .your-email {
        margin: 1rem 0 0.5rem 0;
        padding: 0.5rem 0.8rem;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        background: transparent;
        color: white;
    }

    .your-name:focus,
    .your-email:focus,
    textarea:focus {
        outline: none;
        border: 2px solid #448a8e;
    }

    .send {
        margin: 1rem 0 0.5rem 0;
        padding: 0.8rem;
        border: none;
        border-radius: 5px;
        background: #2c2c2c;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.15ch;
        cursor: pointer;
        transition: background 800ms ease, transform 300ms ease;
    }

    .send:hover {
        transform: scale(1.03);
        background: #00464a;
    }

    @media (hover: none) {
        .send {
            transition: background 800ms ease, transform 300ms ease;
        }
    }

    textarea {
        margin: 1rem 0 0.5rem 0;
        padding: 0.5rem 0.8rem;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        max-width: 100%;
        height: 15ch;
        background: transparent;
        color: white;
    }

    [astro-icon] {
        height: 30px;
        width: auto;
        color: #448a8e;
        transition: transform 200ms ease, color 400ms linear;
        padding: 0 0.5rem;
    }
</style>
