---
import selfPortrait from "../assets/meb&w.jpg";
import Icon from "astro-icon";
---

<div class="container">
    <div class="image-wrapper">
        <img class="portfolio-image" src={selfPortrait} alt="Joshua Maciel Portrait"/>
    </div>
    <div class="social-media">
        <a href="https://github.com/JoshM-Yoru" target="_blank" aria-label="Go To Joshua Maciel's Github"
            ><Icon name="carbon:logo-github" /></a
        >
        <a
            href="https://www.linkedin.com/in/joshua-maciel-85b30080" aria-label="Go To Joshua Maciel's LinkedIn"
            target="_blank"><Icon name="carbon:logo-linkedin" /></a
        >
        <a href="https://twitter.com/joshuamaciel?lang=en" target="_blank" aria-label="Go To Joshua Maciel's Twitter"
            ><Icon name="carbon:logo-twitter" /></a
        >
    </div>
    <div class="intro-wrapper">
        <p class="highlight">
            Full Stack Developer, Vim Enthusiast, Mediocore Chess Player, and
            Father of One.
        </p>
        <p class="intro">
            Hi! I am <span class="name">Joshua Maciel</span> and I'm a Full Stack Software
            Engineer with a Front End focus, located in the sunny Tampa, FL.
        </p>
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-wrapper {
        display: flex;
        flex-direction: column;
        width: min(60ch, max(65%, 300px));
        font-size: 1.2rem;
    }

    @media (max-width: 600px) {
        .intro-wrapper {
            display: flex;
            flex-direction: column;
            width: min(60ch, max(85%, 300px));
            font-size: 1.2rem;
        }
    }

    .highlight {
        font-size: 2.5rem;
        font-family: "Montserrat";
        font-weight: bold;
        margin: 1rem 0;
    }

    .intro {
        margin: 0.5rem 0;
    }

    .name {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100%;
        background-position: 0%;
    }

    .image-wrapper {
        max-height: 100px;
        max-width: 100px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .portfolio-image {
        margin: -10px auto;
        height: 150px;
        width: auto;
    }

    .social-media {
        margin: 1rem;
    }

    [astro-icon] {
        height: 40px;
        width: auto;
        color: #448a8e;
        padding: 0;
        transition: transform 200ms ease, color 400ms linear;
        margin-inline: 0.5rem;
    }

    [astro-icon]:hover {
        color: #d134b7;
        transform: scale(1.3);
    }

    @media (hover: none) {
        [astro-icon] {
            transition: transform 200ms ease, color 400ms linear;
        } 
    }

    a {
        margin: 10px;
        padding: 0;
    }

    a:visited {
        color: #0b0d23;
    }
</style>
