---
export interface Props {
    route: string;
}

const { route } = Astro.props;

let home: string = "";
let about: string = "";
let projects: string = "";

route === "home" ? (home = "#d134b7") : (home = "#bdcad9");
route === "about" ? (about = "#d134b7") : (about = "#bdcad9");
route === "projects" ? (projects = "#d134b7") : (projects = "#bdcad9");
---

<div class="container">
    <div class="menu-wrapper">
            <a href="/" aria-label="Home Page"><button class="home" style=`color: ${home}`>Home</button></a>
            <a href="/about" aria-label="About Page"><button class="about" style=`color: ${about}`>About</button></a>
            <a href="/projects" aria-label="Projects Page"><button class="projects" style=`color: ${projects}`>Projects</button></a>
    </div>
</div>

<style>
    .container {
        top: 0;
        display: flex;
        justify-content: center;
        height: fit-content;
        z-index: 9;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }

    button {
        margin: 0.5em 1em;
        padding: 0.25em 0.5em;
        background: transparent;
        border: none;
        color: #bdcad9;
        cursor: pointer;
        font-size: 1.33rem;
        transition: color 400ms ease;
    }

    button:hover {
        color: #d134b7;
    }
</style>
