---
---

<div class="container">
    <ul class="menu-wrapper">
        <a href="/">
            <button>Home</button>
        </a>
        <a href="/about">
            <button>About</button>
        </a>
        <a href="/projects">
            <button>Projects</button>
        </a>
    </ul>
</div>

<style>
    .container {
        background: rgba(0, 0, 0, 0.3);
        postion: sticky;
        -webkit-position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        height: fit-content;
        z-index: 9;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }

    button {
        margin: 0.5em 1em;
        padding: 0.25em 0.5em;
        background: transparent;
        border: none;
        color: #bdcad9;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
    }

    button:hover {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 500%;
        background-position: 0%;
    }
</style>
