---
import MyResume from "../assets/Joshua_Maciel_Resume.pdf";
---

<div style="margin: auto">
    <h1 style="font-size: 5rem">Work in Progress</h1>
</div>
<div>
    Joshua Maciel joshuamaciel90@gmail.com Web Developer
    https://www.linkedin.com/in/joshua-maciel-85b30080 |
    https://github.com/JoshM-Yoru OBJECTIVE: Searching for a Web Developer
    position with a Company that prioritizes graphical design and compatibility
    among media while encouraging creative thinking and problem-solving.
    Technical Skills: Languages/Technologies: Front End: React, Typescript,
    NextJS, Styled Components, Sass, Javascript, HTML, CSS Back End: Spring
    Boot, Spring, Java, Lombok, JDBC, Javalin, NodeJS, Python Database:
    PostgreSQL, MySQL DevOps: Docker, AWS, Jenkins Tools: Neovim, VSCode,
    IntelliJ, Git/GitHub, DBeaver, Postman, Linux(RedHat/Fedora) Projects
    Ecommerce Clothing Site React, Typescript, Styled Components, Spring Boot,
    Java, Lombok, PostgreSQL, Docker • Designed the front end using React
    Typescript and Styled Components. • Implemented a Spring Boot project to
    communicate between the PostgreSQL database and front end. •
    https://github.com/JoshM-Yoru/ecommerce-project Geo-location Weather App
    HTML, CSS, Javascript, GeoApify API, Google Auto-Complete API, WeatherAPI,
    TimezoneDB API • Built web page with HTML and vanilla CSS and vanilla
    JavaScript • Used various APIs to get weather and location information in
    order to return current weather and weather forecast. •
    https://joshm-yoru.github.io/weather-app/ H.O.P.E. - Hurricane Operations
    Platform for Emergencies NodeJS, Jambonz, MongoDB • Team project that won
    2nd place in TADHack Tampa 2022 Hackathon • Used NodeJS and Jambonz to
    create a backend that routes caller to different prompts that collects a
    caller’s voice or dial input and registers information in MongoDB database.
    • https://github.com/bytemaster-0xff/tadhack Employee Reimbursement System
    Java, Javalin, JDBC, Maven, PostgeSQL, Docker, Postman • Implemented all
    aspects of Object-Oriented Programming • Used the Data Access Object Design
    Pattern for structuring the application. • Functionality includes: •
    Submitting tickets. • Users being able to view all submitted tickets. •
    Ability to see all pending tickets as a manager. • Approving or denying
    tickets as a manager. • Adding as a manger or as an employee or removal of
    employees by a manager. • https://github.com/JoshM-Yoru/ERS-Project
    Experience: Full Stack Software Engineer 10/2022 – Current Revature
    (Remote)Tampa, FL • Primarily worked on creating business and enterprise
    related web applications. • Applications completed using React(Typescript),
    Java(Spring Boot), and AWS. • Communicated with my team via Zoom and
    Microsoft Teams to complete projects and coordinate tasks. • Used a Linux OS
    to develop applications on and used Docker to be able to deploy to any
    enviornment. Lead Dispatch Coordinator 04/2011 – 05/2022 Americare Ambulance
    Service Seffner, FL • Conducted reporting and analysis on emergency and
    non-emergency call data with Crystal Reporting, using Excel, and MySQL. •
    Developed dispatching protocol and logistics during COVID pandemic to adjust
    for increased in call volume and simultaneous worker shortage. • Managed
    team of people in handling emergent and non-emergent ambulance transports in
    a high-stress and fast-paced environment. • Coordinated with local emergency
    operations centers during dangerous weather events, e.g. Hurricanes. •
    Mediated issues between team members to achieve satisfactory outcomes. •
    Developed understanding of transportation management platforms to drive
    content integration with client systems and platforms. • Developed and
    implemented process enhancements to drive continuous program improvement. •
    Monitored ambulance locations in field and solved discrepancies to keep team
    on-track. • Coordinated schedules for optimal coverage of daily workload and
    adjusted quickly to changing demands. • Partnered with vendor teams to solve
    real-time challenges and drive cohesive experience. • Controlled costs with
    optimized route plan to maximize daily appointments and minimize time or
    field waste. • Responded to high volume of phone and email requests to
    provide logistics information. • Calculated and provided quotes for
    transportation with cost breakdowns. • Conducted negotiations for out of
    state transports. • Coordinated repairs to vehicles with Operations
    Supervisor to maintain fleet operations. • Scheduled supply delivery and
    allocated resources to personnel based on need. • Responded to over 100
    daily caller requests with information about assistance and time-frames. •
    Assisted department manager with payroll and scheduling duties. First
    Responder 10/2009 – 04/2011 Americare Ambulance Service Seffner, FL •
    Assisted EMT in providing medical care to patients. • Drove ambulances in
    emergent and non-emergent situations to get to patients or hospitals
    quickly. • Handled radio communications with dispatch and hospitals. • Drove
    handicap accessible vans to transport patients to and from appointments.
    Education Associates of Arts in Mathematics 01/2018 – 07/2021 Hillsborough
    Community College Tampa, FL • Member of Phi Theta Kappa Honor’s Society
</div>
