---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    :root {
        --accent: 124, 58, 237;
        --background-gradient: linear-gradient(
            45deg,
            #111111,
            #0b0d23,
            #111111
        );
        --accent-gradient: linear-gradient(180deg, #d134b7 15%, #787ff4 80%);
    }
    html {
        font-family: system-ui, sans-serif;
        background-color: black;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    body {
        display: flex;
    }
    main {
        background: var(--background-gradient);
        min-height: 100vh;
        height: fit-content;
        background-size: cover;
        color: white;
        width: 1100px;
        display: flex;
        flex-direction: column;
        margin: auto;
        border-left: 1px solid #444;
        border-right: 1px solid #444;
    }
    .container {
        padding: 1.5rem;
    }
</style>
