---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="rect-2"></div>
        <div class="circ-1"></div>
        <slot />
    </body>
</html>
<style is:global>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    :root {
        --accent: 124, 58, 237;
        --background-gradient: linear-gradient(
            45deg,
            #111111,
            #0b0d23,
            #111111
        );
        --accent-gradient: linear-gradient(180deg, #d134b7 15%, #787ff4 80%);
    }
    html {
        font-family: system-ui, sans-serif;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }

    @keyframes bg-animation {
        0% {
            background-position: left;
        }
        100% {
            background-position: right;
        }
    }

    body {
        display: flex;
        background-color: #111;
        overflow-x: hidden;
    }
    main {
        background: var(--background-gradient);
        min-height: 100vh;
        height: fit-content;
        background-size: cover;
        color: white;
        width: 1100px;
        display: flex;
        flex-direction: column;
        margin: auto;
        border-left: 1px solid #444;
        border-right: 1px solid #444;
        z-index: 4;
    }
    .rect-1 {
        position: absolute;
        height: 40vh;
        width: 100vw;
        top: 100px;
        z-index: 3;
        background-image: linear-gradient(
            45deg,
            #010429,
            #170133,
            #350138,
            #00464a
        );
        background-size: 400%;
        animation: bg-animation 40s infinite alternate;
    }
    .rect-2 {
        position: absolute;
        height: 30vh;
        width: 100vw;
        bottom: 0;
        z-index: 2;
        background-image: linear-gradient(
            45deg,
            #010429,
            #170133,
            #350138,
            #00464a
        );
        background-size: 400%;
        animation: bg-animation 40s infinite alternate;
    }

    @keyframes glow-animation {
        0% {
            box-shadow: 10px 20px 90px 50px rgba(53, 1, 56, 0.7);
        }
        100% {
            box-shadow: 0 0 30px 25px rgba(53, 1, 56, 0.5);
        }
    }

    .circ-1 {
        position: absolute;
        height: 80vh;
        width: 80vh;
        right: 5vw;
        transform: rotate(0.5turn);
        border-radius: 50%;
        z-index: 1;
        background-image: linear-gradient(
            45deg,
            #00464a,
            #350138,
            #170133,
            #010429
        );
        background-size: 400%;
        animation: bg-animation 40s infinite alternate,
            glow-animation 4s infinite alternate;
    }
    .container {
        padding: 1.5rem;
    }
</style>
